$grey-color: #f3f3f3;
$pink-color: #ed1e99;

@mixin flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin media-sm {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (max-width: 950px) {
    @content;
  }
}
