@include media-md {
  .catagory_slider {
    display: flex;
  }
  .sliding_offer_wrapper {
    > .quick_links_offer {
      > .offer_list {
        > li {
          margin: 10px 0;
        }
      }
    }
  }
  .price_store {
    > .catagory_slider {
      width: 540px;
      > div {
        > img {
          width: calc(540px / 3);
        }
      }
    }
  }
}

@include media-sm {
  .sliding_offer_wrapper {
    flex-direction: column;
    align-items: center;
    .left_align_slider {
      width: 95%;
      > .image_slider {
        margin: auto;
      }
    }
    .image_slider {
      width: 95%;
    }
    .quick_links_offer {
      width: 95%;
    }
  }
  .coupon_box {
    grid-template-columns: repeat(1, 1fr);
  }
  .price_store {
    > .catagory_slider {
      width: 80%;
      > div {
        width: auto;
        > img {
          width: calc(80vw / 2);
        }
      }
    }
  }
  .grid_items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-lg {
}
